.nav {
  grid-area: n;
  background-color: #4169E1;
  padding: 15px;
}

.item > a {
  color: white;
  text-decoration: none;
  margin-top: 15px;
}

.item > a:hover {
  color: darkslateblue;
}

.item .active  {
  color: gold;
}

.itemFriend > a {
  color: white;
  text-decoration: none;
  margin-top: 25px;
}

.itemFriend > a:hover {
  color: darkslateblue;
}

.itemFriend .active {
  color: gold;
}