.nav {
  grid-area: n;
  background-color: #4169E1;
  padding: 15px;
}

.item > a {
  color: white;
  text-decoration: none;
}

.item > a:hover {
  color: darkslateblue;
}

.item .active  {
  color: gold;
}

.itemFriends {
  display: flex;
  flex-wrap: wrap;
}

.itemFriendsHeader {
  width: 100%;
  text-align: center;
  color: white;
  margin: 20px 0 0 0;
}