.item {
  background-color: gray;
  color: white;
  display: flex;
  flex-direction: row;
}

.itemImg {
  width: 60px;
  height: 60px;
  border-radius: 30px;
}

.likeImg {
  width: 15px;
  height: 15px;
  float: left;
  margin: 2px;
}

.postWrp {
  width: 350px;
}

.closeWrp {
  float: right;
}

.closeButton>img {
  float: right;
  width: 25px;
  height: 25px;
}
